<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://github.com/FindHotel/qyu">
             Qyu is a distributed task execution system for complex workflows
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      <a href="https://www.findhotel.net/">
        FindHotel B.V. &copy; <%= Date.today.year %>
      </a>
    </div>
  </div>
</footer>
