<div class="sidebar" data-background-color="white" data-active-color="danger">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="/" class="simple-text">
        Arc Yu
      </a>
    </div>

    <ul class="nav">
      <li class="active">
        <a href="/">
          <p>Jobs</p>
        </a>
      </li>
    </ul>
  </div>
</div>
